@import './normalise.css';

/* Colors & Styles*/

:root {
    --color-primary: #2584ff;
    --color-secondary: #00D9ff;
    --color-accent: #ff3400;
    --color-headings: #1b0760;
    --color-body: #918ca4;
    --color-body-darker: #5c5577;
    --color-border: #ccc;
    --border-radius: 30px;
}

*, *::after, *::before {
    box-sizing: border-box;
} 

html {
    font-size: 62.5%; /* --> equivalent to 10px  */
}

::selection {
    background: var(--color-primary);
    color: #fff;
}

/* Typography */

body {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    line-height: 1.5;
    color: var(--color-body);
}

@media screen and (min-width: 768px) {
    .body {
        font-size: 2.4rem;
    }
}

h1, h2, h3 {
    color: var(--color-headings);
    margin-bottom: 1rem;
    line-height:1.1;
}

h1 {
    font-size: 4rem;
    font-weight: 600;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 1.6rem;
}

p {
    margin-top: 0;
}

@media screen and (min-width: 768px) {
    body {
        font-size: 1.8rem;
    }

    h1 {
        font-size: 5rem;
    }
    
    h2 {
        font-size: 4rem;
    }
    
    h3 {
        font-size: 2.4rem;
        font-weight: 500;
    }

}

@media screen and (min-width: 1024px) {
    body {
        font-size: 1.8rem;
    }

    h1 {
        font-size: 6rem;
    }
    
    h2 {
        font-size: 4rem;
    }
    
    h3 {
        font-size: 2.4rem;
        font-weight: 500;
    }

}

/* Page rules - Components structure */

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.callout-signup {
    transform: translateY(5rem);
}

/* Components :

1. Links
2. Badges
3. Lists
4. Icons
5. Buttons
6. Inputs
7. Inputs group
8. Cards
9. Plan component
10. Popular plan component
11. Media Objects
12. Quote
13. Grids 
14. Testimonial 
15. Callouts 
16. Collapsible 
17. Block 
18. Navigation bar 
19. Hero
20. Domain block
21. Plans block
22. Feature block
23. Showcase block
24. Testimonial block
25. Footer

 */

/* 1. Links */

a {
    text-decoration: none;
}

.link-arrow {
    color: var(--color-accent);
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.link-arrow::after {
    content: "-->";
    margin-left: 5px;
    transition: margin 0.15s;
}

.link-arrow:hover::after {
    margin-left: 10px;  
}

@media screen and (min-width: 1024px) {
    .link-arrow {
        font-size: 1.5rem;
    }
}

/* 2. Badges */

.badge {
    border-radius: 20px;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 0.5rem 2rem;
    white-space: nowrap;
}
.badge--small {
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
}

.badge--primary {
    background: var(--color-primary);
    color: #fff;
}

.badge--secondary {
    background: var(--color-secondary);
    color: #fff;
}

@media screen and (min-width: 768px) {
    .badge{
        font-size: 1.6rem;
    }
    .badge--small {
        font-size: 1.4rem;
    }
}

@media screen and (min-width: 1024px) {
    .badge { 
        font-size: 1.8rem;
    }
    .badge--small {
        font-size: 1.6rem;
    }
}

/* 3. Lists */

.list {
    list-style: none;
    padding-left: 0;
}

.list--inline {
    color: var(--color-headings)
}

.list--inline .list__item {
    display: inline-block;
    margin-right: 2rem;
}

.list--checks {
    list-style-image: url(../assets/icons/tick.svg);
    padding-left: 3rem;
    color: var(--color-headings)
}

.list--checks .list__item {
    padding-left: 0.5rem;
    margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
    .list--checks .list__item {
        padding-left: 0;
    }
}

/* 4. Icons */

.icon {
    width: 40px;
    height: 40px;
}

.icon--small {
    width: 30px;
    height: 30px;
}

.icon--primary {
    fill: var(--color-primary);
}
.icon--white {
    fill: #fff;
}

.icon-container {
    align-items: center;
    background: #f3f9fa;
    border-radius: 100%;
    display: inline-flex;
    height: 64px;
    justify-content: center;
    width: 64px;
}

.icon-container--accent {
    background: var(--color-accent);
}

/* 5. Buttons */

.btn {
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin: 1rem 0;
    padding: 2rem 3rem;
    border:0;
    border-radius: 40px;
    cursor: pointer;
    white-space: nowrap;
}

.btn .icon {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    vertical-align: middle;
}

.btn--primary {
    background: var(--color-primary);
    color: #fff;
}

.btn--primary:hover {
    background: #3a8ffd;
    color: #fff;
}

.btn--secondary {
    background: var(--color-secondary);
    color: #fff;
}

.btn--secondary:hover {
    background: #00c8eb;
    color: #fff;
}

.btn--accent {
    background: var(--color-accent);
    color: #fff;
}

.btn--accent:hover {
    background: #e13003;
    color: #fff;
}

.btn--outline {
    background: #fff;
    color: var(--color-headings);
    border: 2px solid var(--color-headings);
}

.btn--outline:hover {
    background: var(--color-headings);
    color: #fff;
}

.btn--stretched {
    padding-left: 6rem;
    padding-right: 6rem;
}

.btn--block {
    width: 100%;
    display: inline-block;
}

@media screen and (min-width: 1024px) {
    .btn {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 500px) {
    .btn {
        padding: 2rem 2rem;
    }
    .btn span {
        display: none;
    }
    .btn .icon {
        width: 2.8rem;
        height: 2rem;
        margin: auto auto;
        vertical-align: middle;
    }
}

/* 6. Inputs */

.input {
    border-radius: var(--border-radius);
    border: 1px solid var(--color-border);
    color: var(--color-headings);
    font-size: 1.6rem;
    outline: 0;
    padding: 1.5rem 3.5rem;
}

::placeholder {
    color: #cdcbd7;
}

@media screen and (min-width: 1024px) {
    .input {
        font-size: 2rem;
    }
}

/* 7. Input groups */

.input-group {
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    display: flex;
    padding: 0 0 0 2rem;
}

.input-group .input {
    border: none;
    flex-grow: 1;
    padding: 1.5rem 1rem;
    width: 0;
}

.input-group .btn {
    margin: 4px;
}

/* 8. Cards */

.card {
    border-radius: 7px;
    box-shadow: 0 0 20px 10px #f3f3f3;
    overflow: hidden;
}

.card__header, .card__body {
    padding: 2rem 3rem;
    width: 100%;
    max-width: 480px;
    min-width: 300px;
}

.card--primary .card__header {
    background: var(--color-primary);
    color: #fff;
}

.card--secondary .card__header {
    background: var(--color-secondary);
    color: #fff;
}

.card--primary .badge--primary{
    background: #126de4;
    color: #fff;
}

.card--secondary .badge--secondary{
    background: #02cdf1;
    color: #fff;
}

/* 9. Plan component */

.plan {
    transition: transform .2s ease-out;
    margin-bottom: 4rem;
    justify-self: center;
}

.plan_name {
    color: #fff;
    margin: 0;
    font-size: 1.4rem;
    font-weight: 500;
}

.plan__price {
    font-size: 4rem;
}

.plan__billing-cycle {
    font-size: 1.4rem;
    font-weight: 300;
    opacity: 0.9;
    margin-right: 1rem;
}

.plan__description {
    display: block;
    font-size: 1.6rem;
    font-weight: 300;
    letter-spacing: 1px;
}

.plan .list__item {
    margin-bottom: 2rem;
}

.plan:hover {
    transform: scale(1.05);
}

.plan--popular:hover {
    transform: scale(1.15);
}

@media screen and (min-width: 768px) {
    .plan_name {
        font-size: 1.6rem;
    }
    .plan__price {
        font-size: 5rem;
    }
    .plan__billing-cycle {
        font-size: 1.6rem;
    }
    .plan__description{
        font-size: 1.6rem;
    }
}

@media screen and (min-width: 1024px) {
    .plan_name {
        font-size: 1.8rem;
    }
    .plan__price {
        font-size: 6rem;
    }
    .plan__billing-cycle {
        font-size: 1.8rem;
    }
    .plan__description{
        font-size: 1.6rem;
    }
}

/* 10. Popular Badge */

.plan--popular {
    transform: scale(1.05);
}

.plan--popular .card__header {
    position: relative;
}

.plan--popular .card__header::before {
    content: url(../assets/images/popular.svg);
    width: 40px;
    display: inline-block;
    position: absolute;
    top: -6px;
    right: 5%;
}

/* 11. Media Object */

.media {
    display: flex;
    margin-bottom: 4rem;
}

.media__title {
    margin-top: 0;
}

.media__body {
    margin: 0 2rem;
}

.media__image {
    margin-top: .5rem;
}

/* 12. Quote */

.quote {
    font-size: 3rem;
    font-style: italic;
    color: var(--color-body-darker);
    line-height: 1.4;
}

.quote__text::before {
    content: open-quote;
}

.quote__text::after {
    content: close-quote;
}

.quote__line {
    position: relative;
    bottom: 5px;
}

.quote__author {
    font-size: 3rem;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 0;
}

.quote__company {
    color: var(--color-headings);
    font-size: 2rem;
    font-weight: normal;
    opacity: .4;

}

@media screen and (min-width: 1024px) {
    .quote {
        font-size: 2rem;
    }
    .quote__author {
        font-size: 2.4rem;
    }
    .quote__company {
        font-size: 1.6rem;
    }
}

/* 13. Grids */

.grid {
    display: grid;
}

@media screen and (min-width: 768px) {
    .grid--1x2 {
        grid-template-columns: repeat(2, 1fr);
    }
    .grid--1x3 {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* 14. Testimonial  */

.testimonial {
    padding: 3rem;
}

.testimonial__image {
    position: relative;
}

.testimonial__image > img{
    width: 100%;
}

.testimonial__image > .icon-container{
    position: absolute;
    top: 3rem;
    right: -32px;
}

@media screen and (min-width: 768px) {
    .testimonial .quote, .testimonial .quote__author {
        font-size: 2.4rem;
    }
    .testimonial .quote {
        margin-left: 6rem;
    }
}

/* 15. Callouts  */

.callout {
    padding: 4rem;
    border-radius: 5px;
}
.callout--primary {
    background: var(--color-primary);
    color: #fff;
}

.callout__heading {
    color:#fff;
    margin-top: 0;
    font-size: 3rem;
}

.callout__content {
    text-align: center;
}

.callout .btn {
    justify-self: center;
    align-self: center;
}


@media screen and (min-width: 768px) {
    .callout .grid--1x2 {
        grid-template-columns: 1fr auto;
    }
    .callout__content {
        text-align: left;
    }
    .callout .btn {
        justify-self: start;
        margin: 0 2rem;
    }
}

/* 16. Collapsible */

.collapsible__header {
    display: flex;
    justify-content: space-between;
}

.collapsible__chevron {
    transform: rotate(-90deg);
    transition: transform 0.3s;
}

.collapsible--expanded .collapsible__chevron {
    transform: rotate(0);
}

.collapsible__content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.3s;
}

.collapsible--expanded .collapsible__content {
    max-height: 100vh;
    opacity: 1;

}

.collapsible__heading {
    margin-top: 0;
    font-size: 3rem;
    color: #fff;
}

/*  17. Block  */

.block {
    --padding-vertical: 4rem;
    padding: var(--padding-vertical) 3rem;
}

.block__header {
    text-align: center;
    margin-bottom: 4rem;
}

.block__heading {
    margin-top: 4rem;
}

@media screen and (min-width: 768px) {
    .block__heading {
        margin-top: 8rem;
    }
}

.block--dark {
    background: #000;
    color: #7b858b;
}

.block--dark h1, .block--dark h2, .block--dark h3{
    color: #fff;
}

.block--skewed-left {
    padding-bottom: calc(var(--padding-vertical) + 4rem);
    clip-path: polygon(0% 0%,100% 0%,100% 96%,0% 100%);
}

.block--skewed-right {
    padding-bottom: calc(var(--padding-vertical) + 4rem);
    clip-path: polygon(0% 0%,100% 0%,100% 100%,0% 96%)
}

/*  18. Navigation bar  */

.nav {
    background: #000;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0rem 1rem;
    align-items: center;
}

.nav__logo {
    transform: translateY(-2px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav__logo span {
    color: #fff;
    font-size: 2.2rem;
    font-weight: 600;
    margin-left: 1rem;
}

.nav__list {
    width: 100%;
    margin: 0;
    padding-right: 1rem;
}

.nav__item {
    font-size: 1.6rem;
    padding-left: 2rem;
    border-bottom: 2px #222 solid;
}

.nav__item > a {
    color: #d2d0db;
    transition: color 0.1s;
}

.nav__item > a:hover {
    color: #fff;
}

.nav__toggler {
    opacity: 0.5;
    cursor: pointer;
}

.nav.collapsible--expanded .nav__toggler {
    opacity: 1;
}

@media screen and (min-width: 768px) {
    .nav {
        padding: 1rem 4rem;
    }
    .nav__logo {
        padding-left: 0rem;

    }
    .nav__toggler {
        display: none;
    }
    .nav__list {
        width: auto;
        display: flex;
        font-size: 1.6rem;
        max-height: 100%;
        opacity: 1;
        padding-right: 0rem;
    }
    .nav__item {
        border-bottom: 0;
    }
}

/* 19. Hero */

.hero__tagline {
    font-size: 1.8rem;
    color: #b9c3cf;
    letter-spacing: 1px;
    margin: 2rem 1rem 4rem 1rem;
}

.hero__img {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .hero {
        padding-top: 0;
    }
    .hero__content {
        text-align: left;
        margin: 2rem 2rem 4rem 2rem;

    }
    .hero__tagline {
        font-size: 2.2rem;
        text-align: left;
        margin: 0rem 0rem 4rem 0rem;
    }
}

@media screen and (min-width: 1024px) {
    .hero__tagline {
        font-size: 2.6rem;
}

/* 20. Domain block */

.block__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block__header > h2, p {
    text-align: center;
    max-width: 600px;
} 

.block-domain .input-group {
    box-shadow: 0 0 35px 10px #e6ebee27;
    border: 0;
    margin: 2rem auto;
    max-width: 680px;
}

.block-domain__prices {
    color: var(--color-headings);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 6rem);
    font-size: 2rem;
    font-weight: 600;
    justify-items: center;
    margin: 0 auto;
  }
  
  @media screen and (min-width: 768px) {
    .block-domain__prices {
      grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    }
  }
  
/* 21. Plans block */

.block-plans .grid {
    gap: 8rem 6rem;
}

.block-plans .card {
    max-width: 480px;
    margin: 0 auto;
}

@media screen and (min-width:768px) {
    .grid-plans {
    grid-template-columns: repeat(3, 1fr);
    }
}
/* 22. Feature block */

.feature {
    gap: 4rem 2rem;
    margin: 8rem 0;
}

.feature:first-of-type {
    margin-top: 6rem;
}

.feature__heading {
    margin: 1rem 0;
}

.feature__img {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .feature:nth-of-type(even) .feature__content {
        order: 2;
    }
}

/* 23. Showcase block */

.block-showcase__img > img {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .block-showcase .grid {
        grid-template-columns: 50% 50%;
    }
    .block-showcase__img {
        justify-self: end;
    }
    .block-showcase__img > img {
        width: auto;
        max-width: 700px;
    }
}

/* 24. Testimonial block */

/* 25. Footer */

.footer {
    background: #232323;
}

.footer a {
    color: #777;
    transition: color 0.3s;
}

.footer a:hover {
    color: #fff;
}

.footer__section {
    padding: 2rem;
    border-bottom: 1px solid #393939;
}

.footer__section .list {
    margin: 0;
}

.footer__heading {
    text-transform: uppercase;
    font-weight: 600;
}

.footer__brand {
    margin-top: 5rem;
    text-align: center;
}

.footer__brand img {
    width: 100%;
    max-width: 44px;
}

.footer__copyright {
    font-size: 2.1rem;
    color: #fff;
    opacity: .3;

}

@media screen and (min-width: 768px) {
    .footer__grid {
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    }
    .footer .collapsible__chevron {
        display: none;
    }
    .footer .collapsible__content {
        opacity: 1;
        max-height: 100%;
    }
    .footer__brand {
        order: -1;
        margin-top: 1rem;
    }
    .footer__copyright {
        font-size: 1.5rem;
    }
    .footer__section {
        border: none;
    }
    .footer__heading {
        font-size: 1.8rem;
    }
}

/* style-legend */

.style-legend {
    display: inline-block;
    width: 100%;
    font-size: 1.2rem;
    font-style: italic;
    padding: 4rem 0 0.7rem 0rem;
}
